<div class="container">
    <div class="col-md-4">
    <select class="form-control" (change)="getProductValue($event)">
        <option value= "default"> Product</option>
    <option value="laptop">Laptop</option>
    <option value="mobile">Mobile</option>
    <option value="tv">TV</option>
    <option value="washing machine">Washing Machine</option>
</select>
</div>
<div class ="col-md-12" [ngSwitch]="selectedProduct">
    <h2 class="text-success" *ngSwitchDefault>Please Select the value</h2>
    <h2 class="text-success" *ngSwitchCase="'laptop'">Laptop</h2>
    <h2 class="text-success" *ngSwitchCase="'tv'">TV</h2>
    <h2 class="text-success" *ngSwitchCase="'mobile'">Mobile</h2>
    <h2 class="text-success" *ngSwitchCase="'washing machine'">Washing Machine</h2>
</div>
</div>