<!-- <h1>
  welcome to my page
</h1> -->
<!-- <app-myContainer></app-myContainer> -->
<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way-databind></app-two-way-databind> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <header>
  <nav>
    <ul>
      <li class="nav-item"><a class="nav-item active" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-item active" href="#">About Us</a></li>
      <li class="nav-item"><a class="nav-item active" href="#">Products</a></li>
      <li class="nav-item"><a class="nav-item active" href="#">Contact US</a></li>
    </ul>
  </nav>
</header>
<app-contact-us></app-contact-us> -->





<div class="menu-bar">
<ul>
<li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
<li><a href="#"><i class="fa fa-user"></i>About Us</a></li>
  <li><a href="#"><i class="fa fa-product-hunt"></i>Products</a></li>
  <li><a href="#"><i class="fa fa-phone"></i>Contact</a></li>
</ul>

</div>

