<button (click)="onAddCart()">Add to Cart</button>
<br><br>
<p>{{msg}}</p>
<br><br>
<input type="text" value="myinputtext" (click)="onInputClick($event)">
<br><br>
<button value="laptop"(click)="onAddCart1($event)"  >Laptop</button>
<button  value="tv"(click)="onAddCart1($event)">TV</button>
<button value="washing machine"(click)="onAddCart1($event)">Washing Machine</button>
<p>{{msg1}}</p>
<br><br>
<p>template reference</p>
<input #inputinfo type="text" value="ruby" name="varsha">
<button (click)="onGetInputInfo(inputinfo)">Get info</button>